
.profile-cv {
	display: flex;
	align-items: center;
	padding: 8px 16px 8px 8px;
	background: var(--grey-bg);
	border-radius: 8px;
	cursor: pointer;
	font-size: 18px;
	font-weight: 600;
	color: var(--grey-text);
	text-decoration: none;
}

.profile-cv:hover {
	background: var(--grey-hover);
}