@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import 'theme.css';

.App {
	background-color: var(--white-bg);
	min-height: 100vh;
	min-width: 100vw;
	font-family: Nunito,sans-serif;
}

.profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.profile-informations {
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-name {
	font-size: 2.9em;
	font-weight: 700;
	color: var(--deep-blue);
}

.profile-description {
	font-size: 2em;
	font-weight: 700;
	color: var(--grey-text);
}

.profile-location {
	display: flex;
	align-items: center;
	margin-top: 8px;
	font-size: 1.44em;
	color: var(--grey-text);
}

.profile-active-phrase {
	color: var(--dark-grey-text);
	font-size: 21px;
	font-weight: 600;
	margin-top: 16px;
	margin-bottom: 32px;
	text-align: center;
}

.profile-contact-list {
	color: var(--grey-text);
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 16px;
}

.profile-social-networks {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 32px;
}
  
@media screen and (max-width: 600px) {
	.profile-informations {
		flex-direction: column;
		align-items: center;
	}
	
	.profile-name {
		font-size: 2.2em;
		text-align: center;
	}

	.profile-description {
		font-size: 1.6em;
		font-weight: 700;
		color: var(--grey-text);
	}
	
	.profile-location {
		justify-content: center;
		font-size: 1.26em;
	}
}
