@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import 'theme.css';

.App {
	background-color: var(--white-bg);
	min-height: 100vh;
	font-family: Nunito,sans-serif;
}

.profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.profile-informations {
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-name {
	font-size: 46px;
	font-weight: 700;
	color: var(--deep-blue);
}

.profile-description {
	font-size: 32px;
	font-weight: 700;
	color: var(--grey-text);
}

.profile-location {
	display: flex;
	align-items: center;
	margin-top: 8px;
	font-size: 23px;
	color: var(--grey-text);
}

.profile-active-phrase {
	color: var(--dark-grey-text);
	font-size: 21px;
	font-weight: 600;
	margin-top: 16px;
	margin-bottom: 32px;
}

.profile-contact-list {
	color: var(--grey-text);
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 16px;
}

.profile-social-networks {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 32px;
}